.photo-grid {
  max-width: 1184px;
  margin: 0 auto;
  padding: 0 48px;
}

@media (max-width: 880px) {
  .photo-grid {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 767px) {
  .photo-grid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
