.place__image {
  width: 50%;
  padding: 0 40px 0 0;
  box-sizing: border-box;
  margin: 0;
}

@media (max-width: 1100px) {
  .place__image{
    padding-right: 32px;
  }
}

@media (max-width: 880px) {
  .place__image{
    padding-right: 28px;
  }
}

@media (max-width: 767px) {
  .place__image{
    width: 100%;
    padding-right: 0;
    padding-bottom: 16px;
  }
}
