.header__logo {
    background-image: url(../../../sprint-3-images/header-logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 176px;
    height: 52px;
}

@media  (max-width: 425px){
  .header__logo {
    width: 142px;
    height: 42px;
  }
}
