.intro__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  margin: 0 0 33px;
  padding: 0;
}

@media (max-width: 425px) {
  .intro__text {
    margin-bottom: 34px;
  }
}
