.cover {
  background-image: url(../../sprint-3-images/cover-trains.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 740px;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  max-width: 1184px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;

}

.cover::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #2A2C2F;
    opacity: 0.3;
    transition: opacity 0.4s;
}

.cover:hover::before {
    opacity: 0.8;
}


@media (max-width: 1100px) {
  .cover{
    min-height: 640px;
  }
}

@media (max-width: 768px) {
  .cover{
    min-height: 480px;
  }
}

@media (max-width: 425px) {
  .cover{
    min-height: 200px;
  }
}
