.place {
  margin: 0 0 80px;
  display: flex;
  flex-wrap: wrap;
  align-items:flex-start;
}

.place:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .place{
    margin-bottom: 73px;
  }
}

@media (max-width: 425px) {
  .place{
    margin-bottom: 64px;
  }
}

