.place {
  margin: 0 0 80px;
  display: flex;
  flex-wrap: wrap;
  align-items:flex-start;
}

.place:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 880px) {
  .place{
    margin-bottom: 73px;
  }
}

@media (max-width: 767px) {
  .place{
    margin-bottom: 50px;
  }
}

