.card {
    width: 50%;
    padding: 24px 20px;
    box-sizing: border-box;
}

@media (max-width: 1024px) {
  .card{
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 768px) {
  .card{
    padding-left: 14px;
    padding-right: 14px;
  }
}

@media (max-width: 425px) {
  .card{
    padding: 0 16px 0;
    margin-bottom: 16px;
    width: 100%;
  }

  .card:nth-child(3n) {
    padding-right: 0;
    padding-left: 0;
  }

 .card:last-child {
    margin-bottom: 0;
  }
}
