.card {
  width: 50%;
  padding-right: 32px;
  padding-bottom: 48px;
  box-sizing: border-box;
}

.card:nth-child(2n) {
  padding-right: 0;
}

.card:nth-child(3), .card:nth-child(4){
  padding-bottom: 0;
}


@media (max-width: 1024px) {
  .card{
    padding-right: 32px;
  }
}

@media (max-width: 768px) {
  .card{
    padding-right: 28px;
  }
}

@media (max-width: 425px) {
  .card{
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    width: 100%;
  }

  .card:nth-child(2n) {
    padding-right: 16px;
  }

  .card:nth-child(3) {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 16px;
  }
}
